/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 97.3%); /* Background color for the whole page */
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.profile-image {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px; /* Add spacing between the photo and your name */
    margin-top: 10px;
    margin-left: 5px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-section h1 {
    margin-top: 5px;
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
}

.about-link {
    margin-left: auto; /* Push the About link to the right */
    margin-right: 20px;
}

.about-link a {
    text-decoration: none; /* Remove underlines from the link text */
    color: #007BFF; 
}


hr {
    border: none;
    border-top: 1px solid #ccc;
}


.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.profile-box img {
    max-width: 100%;
    max-height: 100%; /* Adjust the maximum height for the profile picture */
    border-radius: 50%;
}

.caption {
    margin-top: 10px;
}

.contact-info p {
    margin-top: 10px;
}

main {
    flex: 2;
    padding: 20px;
    width: 70%; /* Increase the width of the main content */
}

/* Styles for Tags */
.tags {
    margin-bottom: 20px;
}

.tag {
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 15px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* Styles for Blog Posts */
.blog-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-type {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    font-size: 12px;
}

.blog-post h2 {
    font-size: 24px;
    margin-top: 10px;
}


.blog-post h2 a {
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #333; /* Change link color */
}



.description {
    font-size: 16px;
    margin-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.date-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.date {
    font-size: 12px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
}

.tags .tag {
    background-color: hsl(0, 0%, 90.9%);
    color: hsl(0, 0%, 52.3%);
    padding: 3px 8px;
    border-radius: 10px;
    margin-right: 5px;
    display: inline-block;
    font-size: 12px;
}

/* Hover effect on blog posts */
.blog-post:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
